/* Style applied to the cover image and quick links. */
.header {
    /* Keep the width fixed. */
    width: 1000px;
    /* To center the header. */
    margin: auto;
    /* To make this a 'positioned' element. */
    position: relative;
}

/* Making horizontal lists: http://www.w3schools.com/css/css_navbar.asp */
.quicklinks ul {
    /* Removes the bullet symbols in unordered lists. */
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* If there are too many list items, excess items will be hidden, rather than flow out of the page. */
    overflow: hidden;
    /* Make the background a translucent black. */
    background-color: black;
    opacity: 0.7;
    /* Make this list appear over the bottom of the cover image http://www.w3schools.com/css/css_positioning.asp. */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.quicklinks li {
    /* Apparently this makes the list items horizontal. */
    float: left;
}

.quicklinks li a {
    /* Makes the anchor links as clickable blocks (not clickable text). */
    display: block;
    /* Color of the anchor text. */
    color: white;
    /* Font specs. */
    font-size: 9pt;
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    /* Make the anchor text centered in the clickable block. */
    text-align: center;
    /* Set the padding between text and the block border. */
    padding: 14px 30px;
    /* Removes the default underline from the anchor text. */
    text-decoration: none;
}

/* Style applied to side links and textual content. */
.content {
    /* Keep the width fixed. */
    width: 1000px;
    /* To center the content. */
    margin: auto;
}

/* Similar to quick links, except that list items are vertical http://www.w3schools.com/css/css_navbar.asp. */
.sidelinks ul {
    /* Removes the bullet symbols in unordered lists. */
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* Use 20% of the 1000px width. */
    width: 200px;
    background-color: white;
}

.sidelinks li a {
    /* Makes the anchor links as clickable blocks (not clickable text). */
    display: block;
    /* Color of the anchor text. */
    color: black;
    /* Padding on (top right bottom left). */
    padding: 8px 0px 8px 16px;
    /* Font specs. */
    font-size: 10pt;
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    /* Removes the default underline from the anchor text. */
    text-decoration: none;
}

/* Style applied to the textual content. */
.textualcontent {
    /* Give a bit of gap between cover image and text. */
    padding-top: 2px;
    /* Text must be justified at both ends. */
    text-align: justify;
    text-justify: inter-word;
    /* Font family. */
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
    color: black;
}

/* Style applied to the 'h1' tag in the textual content. */
.textualcontent h1 {
    /* Font specs. */
    font-size: 24px;
    color: purple;
    text-align: left;
}

/* Style applied to the 'p' tag in the textual content. */
.textualcontent p {
    /* Justify on both sides. */
    text-align: justify;
}

/* Style applied to the 'h2' tag in the textual content. */
.textualcontent h2 {
    /* Font specs. */
    font-size: 18px;
    color: black;
    text-align: left;
}

.headtitle {
    /* Give a bit of gap between cover image and text. */
    padding-top: 4px;
    /* Text must be justified at both ends. */
    text-align: justify;
    text-justify: inter-word;
    /* Font family. */
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 25px;
    color: black;
    text-align: center;
    padding-bottom: 3px;
}
